adams-spectral-2dim-webservice/src/main/resources/wsdl/adams/SpectralTransformService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SpectralTransformServiceService"
                  targetNamespace="http://transform.spectral.webservice.adams.waikato.ac.nz/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://transform.spectral.webservice.adams.waikato.ac.nz/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/">

  <wsdl:documentation>WSDL for the Spectral web service (transform).</wsdl:documentation>

  <wsdl:types>
    <xsd:schema attributeFormDefault="unqualified"
                elementFormDefault="unqualified"
                targetNamespace="http://transform.spectral.webservice.adams.waikato.ac.nz/">
      <xsd:element name="transformRequest" type="tns:transformRequest" />
      <xsd:element name="transformResponse" type="tns:transformResponse" />

      <xsd:complexType name="transformRequest">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="format" type="xsd:string" />
          <xsd:element name="spectrum" type="tns:Spectrum" />
          <xsd:element name="action" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="transformResponse">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="format" type="xsd:string" />
          <xsd:element name="spectrum" type="tns:Spectrum" minOccurs="0" />
          <xsd:element name="success" type="xsd:boolean" />
          <xsd:element name="message" type="xsd:string" minOccurs="0" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="Spectrum">
        <xsd:sequence>
          <xsd:element name="waves" type="tns:Waves" />
          <xsd:element name="props" type="tns:Properties" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string" use="required" />
        <xsd:attribute name="format" type="xsd:string" default="nir" />
      </xsd:complexType>

      <xsd:complexType name="Waves">
        <xsd:sequence>
          <xsd:element name="wave" type="tns:Wave" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="Wave">
        <xsd:attribute name="number" type="xsd:float" use="required" />
        <xsd:attribute name="amplitude" type="xsd:float" use="required" />
      </xsd:complexType>

      <xsd:complexType name="Properties">
        <xsd:sequence>
          <xsd:element name="prop" type="tns:Property" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="Property">
        <xsd:attribute name="key" type="xsd:string" use="required" />
        <xsd:attribute name="value" type="xsd:string" use="required" />
        <xsd:attribute name="type" type="tns:DataType" use="required" />
      </xsd:complexType>
      
      <xsd:simpleType name="DataType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="BOOLEAN"/>
          <xsd:enumeration value="NUMERIC"/>
          <xsd:enumeration value="STRING"/>
          <xsd:enumeration value="UNKNOWN"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="transformRequest">
    <wsdl:part element="tns:transformRequest" name="parameters" />
  </wsdl:message>

  <wsdl:message name="transformResponse">
    <wsdl:part element="tns:transformResponse" name="parameters" />
  </wsdl:message>

  <wsdl:portType name="SpectralTransformService">
    <wsdl:operation name="transform">
      <wsdl:input message="tns:transformRequest" name="transformRequest" />
      <wsdl:output message="tns:transformResponse" name="transformResponse" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="SpectralTransformServiceServiceSoapBinding" type="tns:SpectralTransformService">
    <soap:binding style="document"
                  transport="http://schemas.xmlsoap.org/soap/http" />

    <wsdl:operation name="transform">
      <soap:operation soapAction="" style="document" />

      <wsdl:input name="transformRequest">
        <soap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="transformResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="SpectralTransformServiceService">
    <wsdl:port binding="tns:SpectralTransformServiceServiceSoapBinding" name="SpectralTransformServicePort">
      <!-- embedded deployment -->
      <soap:address location="http://localhost:9090/SpectralTransformServicePort" />

      <!-- standalone Tomcat deployment -->
      <!--soap:address location="http://localhost:8080/wsdl_first-<cxf-version>/services/adviceServicePort"/-->
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
